<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRDSProvisioning" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://chumbucket:8050/RDSHelper" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IRDSProvisioning" contract="RDSHelper.IRDSProvisioning"
                name="WSHttpBinding_IRDSProvisioning">
                <identity>
                    <servicePrincipalName value="host/CHUMBUCKET.the-lab.llnl.gov" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>